.main{
  display:grid;
  height:calc(100vh - 20px);
  grid-template-columns: 3fr 1.3fr;
  gap:10px;
  padding:10px;
}

.products{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 350px);
  gap:10px;
  height:100%;
  
}

.card{
  background:#fff;
  padding:10px;
  border:1px solid #ddd;
  border-radius:6px;

  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:flex-start;

  transition:0.3s ease;
}


.card img{
  width:100%;
  object-fit:contain;
  margin-bottom:10px;
  transition:0.3s ease;
  height:70%;
}

.card img:hover{
  transform:scale(1.05);
}

.card h3{
  font-size:16px;
  margin-bottom:0px;
  font-weight:500;
}

.card p{
    margin-top:0px;
    margin-bottom:0px;
    font-size:20px;
    color:#008000;
    font-weight:700;
}
.banner{
  height:100%;
}

.banner img{
  width:100%;
  height:85%;
  object-fit:cover;
  display:block;
}

